<!DOCTYPE html>

<% include header2.html %>

<body>
<div class="container" ng-controller="SelectCamposContenidos">
    <div class="row Agregar_contenido">
        <h1 style="text-align: left; border-style: solid; border-width: 3px; padding-bottom: 10px;">Agregar Contenido</h1>
        <br><br>
        <div class="Nombre_contenido col-md-5" style="border: 4px solid gainsboro; padding-left: 5%">
            <h3 style="border-bottom: solid 1px black; margin-bottom: 10px"> Nombre del contenido a agregar</h3>
            <select name="NombreContenido" size="19" style="border: solid black 1px">
                <option value="Motivacion">Motivacion</option>
                <option value="Definicion_de_conceptos_clave">Definicion de conceptos clave</option>
                <option value="Experimentos_a_realizar">Experimentos a realizar</option>
                <option value="Video_motivacional">Video motivacional</option>
                <option value="Que_problema_resuelve_el_topico">Qué problema resuelve el tópico</option>
                <option value="Datos_necesarios_para_los_ejercicios_del_tema">Datos necesarios para los ejercicios del tema</option>
                <option value="Formulario">Formulario</option>
                <option value="Ejemplos">Ejemplos</option>
                <option value="Preguntas_del_tipo_Que_pasa_si">Preguntas del tipo '¿Qué pasa si...?'</option>
                <option value="Lluvia_de_ideas">Lluvia de ideas</option>
                <option value="Analogias">Analogías</option>
                <option value="Ejercicio_de_mapa_conceptual">Ejercicio de mapa conceptual</option>
                <option value="Base_teorica">Base teórica</option>
                <option value="Conocimientos_previos">Conocimientos Previos</option>
                <option value="Principio_y_teoria">Principio y teoría</option>
                <option value="Documentacion_adicional">Documentación adicional</option>
                <option value="Que_aprenderas_con_el_topico">Qué aprenderas con el tópico</option>
                <option value="Experimentacion_con_explicacion">Experimentacion con explicación</option>
                <option value="Formulario_con_ejercicios">Formulario con ejercicios</option>
            </select>

            <button type="button" class="btn btn-info" ng-click="MostrarDescripcion" style="margin-top: 10px; margin-bottom: 10px">Seleccionar</button>
        </div>

        <div class="Descripción_tipo_contenido col-md-offset-1 col-md-6" style=" min-height: 200px; border: 4px solid gainsboro" ng-controller="SelectCamposContenidos" >
            <h3 style="border-bottom: solid 1px black"> Descripcion del contenido</h3>
                {{ descripcion_tipo_contenido.Motivacion }}
        </div>
    </div>

        <br> <br>
    <div class="row Contenido" style="margin-top: 2%">
        <div class="Contenido_Mismo col-md-offset-1 col-md-10" style=" min-height: 200px; border: 4px solid gainsboro">
            <h3 style="border-bottom: solid 1px black"> Contenido</h3>
            <br>
            Escriba aqui el contenido que desea agregar
    </div>
        </div>
    </div>
</div>
</body>

<footer id="main-footer" class="row-md-1">Copyright © Uneed</footer>


</html>