<!DOCTYPE html>
<html lang="es" ng-app="MyApp">
<head>
    <meta charset="UTF-8">
    <title>Auth</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0/angular.min.js"></script>
    <script src="js/controllers.js"></script>
</head>
<body>

<div ng-controller="mainController">
    <h1>Caca: <%= excremento %></h1>
    <div class="pregunta">
        <h3>{{pregunta.premisa}}</h3>
        <p>Respuesta: {{ pregunta.culo }}</p>
    </div>
    <button ng-click="responder()">Responder</button>
</div>
</body>
</html>