
<div class="container">
    <div class="row Introduccion">
        <h1 style="text-align: left; border-style: solid; border-width: 3px;">Introduccion al tema</h1>
        <br>
        <div class="Motivacion col-md-4" style="border-style: solid; border-width: 5px;">
            Motivacion al tema
        </div>
        <div class="Base_teorica col-md-offset-1 col-md-7" style="border-style: solid; border-width: 5px;">
            Base teorica del tema
        </div>
    </div>
    <br><br><br><br>
    <div class="row Conocimientos_previos">
        <h1 style="text-align: left; border-style: solid; border-width: 3px;">Conocimientos previos</h1>
        <br>
        <div class="Conocimiento_previo1 col-md-5" style="border-style: solid; border-width: 5px;">
            Conocimiento previo 1
        </div>
        <div class="Conocimiento_previo2 col-md-offset-2 col-md-5" style="border-style: solid; border-width: 5px;">
            Conocimiento previo 2
        </div>
    </div>
    <br><br><br><br>
    <div class="row Principio_y_teoría">
        <h1 style="text-align: left; border-style: solid; border-width: 3px;">Principio y teoría</h1>
        <br>
        <div class="Principio_y_teoria col-md-offset-1 col-md-10" style="border-style: solid; border-width: 5px;">
            Principio y teoría, el contenido neto, formulas, explicacion matematica y fundamentación profunda.
        </div>
    </div>
    <br><br><br><br>
    <div class="row Documentacion_adicional">
        <h1 style="text-align: left; border-style: solid; border-width: 3px;">Documentación adicional</h1>
        <br>
        <div class="col-md-4" style="border-style: solid; border-width: 5px;">
            Paper 1
        </div>
        <div class="col-md-4" style="border-style: solid; border-width: 5px;">
            Paper 2
        </div>
        <div class="col-md-4" style="border-style: solid; border-width: 5px;">
            Paper 3
        </div>
    </div>
</div>
