<!DOCTYPE html>
<html lang="en">

<% include header2.html %>

<body>

<div class="container-fluid">
    <div class="div_content container">
        <div class="row">
            <div class="col-md-8">
                <p class="titulo_curso"> <%= contenido.nombre_contenido %> </p>
            </div>
            <div class="col-md-4 col-md-offset-4">
            </div>
        </div>
        <br><br>
        <div class="row">
            <div class="col-md-12"><p class="sub_titulo"> <%= contenido.descripcion %> </p></div>
        </div>
        <div class="row">
            <div class=" col-md-8">
                <ul>
                    <br><br>
                    <p> <%= contenido.informacion %> </p>
                </ul>
            </div>
            <div class="col-md-4 col-md-offset-4"></div>
        </div>


        <div class="row">

            <% if(user_session.tipo_usuario == 1) { %>
                <% include contenido_adaptador.html %>
            <% } else if(user_session.tipo_usuario == 2) { %>
                <% include contenido_asimilador.html %>
            <% } else if(user_session.tipo_usuario == 3) { %>
                <% include contenido_convergente.html %>
            <% } else if(user_session.tipo_usuario == 4) { %>
                <% include contenido_divergente.html %>
            <% } %>

        </div>

    </div>
</div>


</body>

<footer id="main-footer">Copyright © Uneed</footer>

</html>