<div class="container-fluid">
    <div class="row Introduccion_practica_tema">
        <h1 style="text-align: left; border-style: solid; border-width: 3px;">Introduccion al tema</h1>
        <br>
        <div class="Motivación col-md-3" style="border-style: solid; border-width: 5px;">
            <%= motivacion[0].ruta_contenido %>
        </div>
        <div class="Definicion_conceptos_clave col-md-6" style="border-style: solid; border-width: 5px;">
            <%= def_conceptos[0].ruta_contenido %>
        </div>
        <div class="Experimentos_a_realizar col-md-3" style="border-style: solid; border-width: 5px;">


            <% for(var i=0; i < exp_a_realizar.length; i++){ %>
                <div class="Experimentos_a_realizar<%= i+1 %> col-md-5" >
                    <%= exp_a_realizar[i].ruta_contenido %>
                </div>
            <% } %>

        </div>
    </div>
    <br><br><br><br>
    <div class="row Video_motivacional">
        <h1 style="text-align: left; border-style: solid; border-width: 3px;">Video motivacional</h1>
        <br>

        <% for(var i=0; i< video_motivacional.length; i++) {%>

        <div class="Explicacion<%= i+1 %> col-md-4" style="border-style: solid; border-width: 5px;">
            Explicacion del video <%= i+1 %>
        </div>
        <div class="Video_experimental<%= i+1 %> col-md-offset-1 col-md-7" style="border-style: solid; border-width: 5px;">
            <!--<iframe width="800" height="500" align="center" src="<%= video_motivacional[0].ruta_contenido %>">-->
            <%= video_motivacional[i].ruta_contenido %>
        </div>
        <br><br>

        <% } %>

    </div>
    <br><br><br><br>
    <div class="row Desarrollo1_tema">
        <h1 style="text-align: left; border-style: solid; border-width: 3px;">Fundamentos del tema</h1>
        <br>
        <div class="Que_resuelve_el_tema col-md-7" style="border-style: solid; border-width: 5px;">
            <%= que_problema_resuelve[0].ruta_contenido %>
        </div>
        <div class="Datos_necesarios col-md-4 col-md-offset-1" style="border-style: solid; border-width: 5px;">

            <% for(var i=0; i < datos_necesarios_para_ejercicio.length; i++){ %>
                <div class="Datos_necesarios<%= i+1 %> col-md-5" >
                    <%= datos_necesarios_para_ejercicio[i].ruta_contenido %>
                </div>
                <br>
            <% } %>

        </div>
    </div>
    <br><br><br><br>
    <div class="row Formulario">
        <h1 style="text-align: left; border-style: solid; border-width: 3px;">Formulas útiles</h1>
        <br>
        <div class="Formula_1_con_explicacion col-md-4" style="border-style: solid; border-width: 5px;">
            formula 1
        </div>
        <div class="Formula_2_con_explicacion col-md-4" style="border-style: solid; border-width: 5px;">
            formula 2
        </div>
        <div class="Formula_3_con_explicación col-md-4" style="border-style: solid; border-width: 5px;">
            formula 3
        </div>
    </div>
    <br><br><br><br>
    <div class="row Ejemplos">
        <h1 style="text-align: left; border-style: solid; border-width: 3px;">Ejercicios de ejemplo</h1>
        <br>

        <% for(var i=0; i < ejemplos.length; i++){ %>
        <div class="row " style="margin-left: 20px";>
            <div class="Ejemplo_1 col-md-5">
                <img src="<%= ejemplos[i].ruta_contenido %>" height="100px" width="200px">
            </div>
            <div class="Solucion_ejemplo_1 col-md-7">
                Explicacion <%= i+1 %>
            </div>
        </div>
            <br><br>
        <% } %>

    </div>
    <br><br><br><br>
</div>