
<div class="container">
    <div class="row Introduccion_tema">
        <h1 style="text-align: left; border-style: solid; border-width: 3px;">Introducción al tema</h1>
        <br>
        <div class="Motivacion col-md-offset-1 col-md-4" style="border-style: solid; border-width: 5px;">
            Motivacion al estudio del tema
        </div>
        <div class="Preguntas_que_pasa_si col-md-offset-1 col-md-5" style="border-style: solid; border-width: 5px;">
            Preguntas del tipo ¿Qué pasa si...?
        </div>
    </div>
    <br><br><br><br>
    <div class="row Lluvia_de_ideas">
        <h1 style="text-align: left; border-style: solid; border-width: 3px;">Lluvia de ideas</h1>
        <br>
        <div class="Idea1 col-md-offset-1 col-md-2" style="border-style: solid; border-width: 5px;">
            Idea 1
        </div>
        <div class="Idea2 col-md-offset-1 col-md-2" style="border-style: solid; border-width: 5px;">
            Idea 2
        </div>
        <div class="Idea3 col-md-offset-1 col-md-2" style="border-style: solid; border-width: 5px;">
            Idea 3
        </div>
        <div class="Idea4 col-md-offset-1 col-md-2" style="border-style: solid; border-width: 5px;">
            Idea 4
        </div>
        <br><br>
        <div class="Idea5 col-md-2" style="border-style: solid; border-width: 5px;">
            Idea 5
        </div>
        <div class="Idea6 col-md-offset-1 col-md-2" style="border-style: solid; border-width: 5px;">
            Idea 6
        </div>
        <div class="Idea7 col-md-offset-1 col-md-2" style="border-style: solid; border-width: 5px;">
            Idea 7
        </div>
        <div class="Idea8 col-md-offset-1 col-md-2" style="border-style: solid; border-width: 5px;">
            Idea 8
        </div>
    </div>
    <br><br><br><br>
    <div class="row Analogia">
        <h1 style="text-align: left; border-style: solid; border-width: 3px;">Similitudes al tema</h1>
        <br>
        <div class="Esto_es_similar_a_1 col-md-5" style="border-style: solid; border-width: 5px;">
            analogia 1 tipo 'esto es similar a ...'
        </div>
        <div class="Esto_es_similar_a_2 col-md-offset-2 col-md-5" style="border-style: solid; border-width: 5px;">
            analogia 2 tipo 'esto es similar a ...'
        </div>
    </div>
    <br><br><br><br>
    <div class="row Respuestas_que_pasa_si">
        <h1 style="text-align: left; border-style: solid; border-width: 3px;">Respuestas a 'Que pasa si'</h1>
        <br>
        <div class="col-md-offset-1 col-md-10" style="border-style: solid; border-width: 5px;">
            Respuestas al apartado 'Qué pasa si?'
        </div>
    </div>
    <br><br><br><br>
    <div class="row Experimentos_a_realizar_en_casa">
        <h1 style="text-align: left; border-style: solid; border-width: 3px;">Experimentos para realizar en casa</h1>
        <br>
        <div class="Experimento1 col-md-5" style="border-style: solid; border-width: 5px;">
            Experimento 1
        </div>
        <div class="Experimento2 col-md-offset-2 col-md-5" style="border-style: solid; border-width: 5px;">
            Experimento 2
        </div>
        <br><br>
        <div class="Experimento3 col-md-offset-1 col-md-5" style="border-style: solid; border-width: 5px;">
            Experimento 3
        </div>
        <div class="Experimento4 col-md-5" style="border-style: solid; border-width: 5px;">
            Experimento 4
        </div>
    </div>
    <br><br><br><br>
    <div class="row Armar_mapa_conceptual_con">
        <h1 style="text-align: left; border-style: solid; border-width: 3px;">Ejercicio: realizar un mapa conceptual</h1>
        <br>
        <div class="Concepto1 col-md-2" style="border-style: solid; border-width: 5px;">
            Concepto 1
        </div>
        <div class="Concepto2 col-md-offset-1 col-md-2" style="border-style: solid; border-width: 5px;">
            Concepto 2
        </div>
        <div class="Concepto3 col-md-offset-1 col-md-2" style="border-style: solid; border-width: 5px;">
            Concepto 3
        </div>
        <div class="Concepto4 col-md-offset-1 col-md-2" style="border-style: solid; border-width: 5px;">
            Concepto 4
        </div>
        <br><br>
        <div class="Concepto5 col-md-offset-1 col-md-2" style="border-style: solid; border-width: 5px;">
            Concepto 5
        </div>
        <div class="Concepto6 col-md-offset-1 col-md-2" style="border-style: solid; border-width: 5px;">
            Concepto 6
        </div>
        <div class="Concepto7 col-md-offset-1 col-md-2" style="border-style: solid; border-width: 5px;">
            Concepto 7
        </div>
        <div class="Concepto8 col-md-offset-1 col-md-2" style="border-style: solid; border-width: 5px;">
            Concepto 8
        </div>
        <br><br>
        <div class="Concepto9 col-md-offset-2 col-md-2" style="border-style: solid; border-width: 5px;">
            Concepto 9
        </div>
        <div class="Concepto10 col-md-offset-1 col-md-2" style="border-style: solid; border-width: 5px;">
            Concepto 10
        </div>
        <div class="Concepto11 col-md-offset-1 col-md-2" style="border-style: solid; border-width: 5px;">
            Concepto 11
        </div>
        <br><br>
        <div class="Concepto12 col-md-offset-3 col-md-2" style="border-style: solid; border-width: 5px;">
            Concepto 12
        </div>
        <div class="Concepto13 col-md-offset-1 col-md-2" style="border-style: solid; border-width: 5px;">
            Concepto 13
        </div>
        <div class="Concepto14 col-md-offset-1 col-md-2" style="border-style: solid; border-width: 5px;">
            Concepto 14
        </div>
        <br><br><br><br>
    </div>
</div>