<!DOCTYPE html>
<html lang="en">

<% include header2.html %>

<body ng-app="app" ng-controller="myCtrl">

<div class="container-fluid">
    <div class="div_content container">
        <div class="row">
            <div class="col-md-8">
                <p class="titulo_curso"> <%= contenido.nombre_contenido %> </p>
            </div>
            <div class="col-md-4 col-md-offset-4">
            </div>
        </div>
        <br><br>
        <div class="row">
            <div class="col-md-10"><p class="sub_titulo"> <%= contenido.descripcion %> </p></div>
            <div class="col-md-2">
                <% if(user_session.tipo_usuario == 1){ %>
                <div ><a class="btn btn-success" href="/ramo/<%= ramo.id_ramo %>/contenido/<%= contenido.id_contenido %>/agregar_contenido/">Agregar Contenido</a></div>
                <select class="form-control" ng-init="selectedCategoria = names[0]" ng-model="selectedCategoria" ng-options="x for x in names">
                </select>
                <% } %>
            </div>
        </div>
        <div class="row">
            <div class=" col-md-8">
                <ul>
                    <script>
                        var app = angular.module("app",[]);
                        app.controller("myCtrl",function ($scope) {
                           $scope.names = ["Divergente","Adaptador","Asimilador","Convergente"];
                        });
                    </script>
                </ul>
            </div>
            <div class="col-md-4 col-md-offset-4"></div>
        </div>


        <div class="row">

            <% if(user_session.tipo_usuario == 0){ %>

                <% if(alumno_session.categoria_alumno == 1) { %>
                <% include contenido_divergente.html %>
                <% } else if(alumno_session.categoria_alumno == 2) { %>
                <% include contenido_adaptador.html %>
                <% } else if(alumno_session.categoria_alumno == 3) { %>
                <% include contenido_asimilador.html %>
                <% } else if(alumno_session.categoria_alumno == 4) { %>
                <% include contenido_convergente.html %>
                <% } %>

            <% }else { %>
                <div ng-switch="selectedCategoria" >
                    <div ng-switch-when="Divergente">
                        <% include contenido_divergente.html %>
                    </div>
                    <div ng-switch-when="Adaptador">
                        <% include contenido_adaptador.html %>
                    </div>
                    <div ng-switch-when="Asimilador">
                        <% include contenido_asimilador.html %>
                    </div>
                    <div ng-switch-when="Convergente">
                        <% include contenido_convergente.html %>
                    </div>
                </div>
            <% } %>

        </div>

    </div>
</div>


</body>

<footer id="main-footer">Copyright © Uneed</footer>

</html>