
<div class="container-fluid">
    <div class="row Introduccion_tema">
        <h1 style="text-align: left; border-style: solid; border-width: 3px;">Introducción al tema</h1>
        <br>
        <div class="Motivacion col-md-offset-1 col-md-4" style="border-style: solid; border-width: 5px;">
            <%= motivacion[0].ruta_contenido %>
        </div>
        <div class="Preguntas_que_pasa_si col-md-offset-1 col-md-5" style="border-style: solid; border-width: 5px;">

            <% for(var i=0; i < preguntas_del_tipo.length; i++){ %>
                <%= preguntas_del_tipo[i].ruta_contenido %>
                <br>
            <% } %>


        </div>
    </div>
    <br><br><br><br>
    <div class="row Lluvia_de_ideas">
        <h1 style="text-align: left; border-style: solid; border-width: 3px;">Lluvia de ideas</h1>
        <br>

        <% for(var i=0; i < lluvia_ideas.length; i++){ %>
            <div class="Idea<%= i+1 %> col-md-offset-1 col-md-2" style="border-style: solid; border-width: 5px;">
                <%= lluvia_ideas[i].ruta_contenido %>
            </div>

            <% if((i+1)%4 == 0) { %>
                <br><br>
            <% } %>

        <% } %>





        <br><br>

    </div>
    <br><br><br><br>
    <div class="row Analogia">
        <h1 style="text-align: left; border-style: solid; border-width: 3px;">Similitudes al tema</h1>
        <br>

        <% for(var i=0; i < analogias.length; i++){ %>
            <div class="Esto_es_similar_a_<%= i+1 %> col-md-5" style="border-style: solid; border-width: 5px;">
                <%= analogias[i].ruta_contenido %>
            </div>
        <% } %>

    </div>
    <br><br><br><br>
    <div class="row Respuestas_que_pasa_si">
        <h1 style="text-align: left; border-style: solid; border-width: 3px;">Respuestas a 'Que pasa si'</h1>
        <br>
        <div class="col-md-offset-1 col-md-10" style="border-style: solid; border-width: 5px;">


            <% for(var i=0; i < preguntas_del_tipo.length; i++){ %>
                <%= preguntas_del_tipo[i].ruta_contenido %>
            <% } %>


        </div>
    </div>
    <br><br><br><br>
    <div class="row Experimentos_a_realizar_en_casa">
        <h1 style="text-align: left; border-style: solid; border-width: 3px;">Experimentos para realizar en casa</h1>
        <br>

        <% for(var i=0; i < exp_a_realizar.length; i++){ %>
            <div class="Experimento<%= i+1 %> col-md-5" style="border-style: solid; border-width: 5px;">
                <%= exp_a_realizar[i].ruta_contenido %>
            </div>
        <% } %>


    </div>
    <br><br><br><br>
    <div class="row Armar_mapa_conceptual_con">
        <h1 style="text-align: left; border-style: solid; border-width: 3px;">Ejercicio: realizar un mapa conceptual</h1>
        <br>


        <% for(var i=0; i < ejercicio_mapa_conceptual.length; i++){ %>
            <div class="Concepto<%= i+1 %> col-md-2" style="border-style: solid; border-width: 5px;">
                <%= ejercicio_mapa_conceptual[i].ruta_contenido %>
            </div>
        <% } %>

        <br><br><br><br>
    </div>
</div>