
<div class="container-fluid">
    <div class="row Introduccion">
        <h1 style="text-align: left; border-style: solid; border-width: 3px;">Introduccion al tema</h1>
        <br>
        <div class="Motivacion col-md-4" style="border-style: solid; border-width: 5px;">
            <%= motivacion[0].ruta_contenido %>
        </div>
        <div class="Base_teorica col-md-offset-1 col-md-7" style="border-style: solid; border-width: 5px;">
            <%= base_teorica[0].ruta_contenido %>
        </div>
    </div>
    <br><br><br><br>
    <div class="row Conocimientos_previos">
        <h1 style="text-align: left; border-style: solid; border-width: 3px;">Conocimientos previos</h1>
        <br>

        <% for(var i=0; i < conocimientos_previos.length; i++){ %>
            <div class="Conocimiento_previo<%= i+1 %> col-md-5" style="border-style: solid; border-width: 5px;">
                <%= conocimientos_previos[i].ruta_contenido %>
            </div>
        <% } %>

    </div>
    <br><br><br><br>
    <div class="row Principio_y_teoría">
        <h1 style="text-align: left; border-style: solid; border-width: 3px;">Principio y teoría</h1>
        <br>
        <div class="Principio_y_teoria col-md-offset-1 col-md-10" style="border-style: solid; border-width: 5px;">

            <% for(var i=0; i < principio_teoria.length; i++){ %>
                <div class="Principio_y_teoría<%= i+1 %> col-md-5" style="border-style: solid; border-width: 5px;">
                    <%= principio_teoria[i].ruta_contenido %>
                </div>
            <% } %>

        </div>
    </div>
    <br><br><br><br>
    <div class="row Documentacion_adicional">
        <h1 style="text-align: left; border-style: solid; border-width: 3px;">Documentación adicional</h1>
        <br>

        <% for(var i=0; i < documentacion_adicional.length; i++){ %>
            <div class="col-md-4" style="border-style: solid; border-width: 5px;">
                <%= documentacion_adicional[i].ruta_contenido %>
            </div>
        <% } %>

    </div>
</div>
