<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Asimilador</title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/bootstrap-theme.min.css">

    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/nav_styles.css" type="text/css">
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <script src="js/index.js"></script>
    <script src="js/registro.js"></script>
    <script type="js/bootstrap.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <script type="text/javascript" src="//code.jquery.com/jquery-1.12.0.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.2/angular.js"></script>
    <script src="js/app.js" type="text/javascript"></script> <!-- not created yet -->
</head>

<header id="main-header">

    <img class="logo" src="images/header-usm.png" height="70" width="700">

    <base href="/">
    <nav>
        <ul>
            <li><a href="">Informaciones</a></li>
            <a href=""><img class="icon" src="images/facebook.png"></a>
            <a href=""><img class="icon" src="images/twitter.png"></a>
        </ul>
    </nav><!-- / nav -->

</header>


<body>
<div class="container">
    <div class="row Introduccion">
        <h1 style="text-align: left; border-style: solid; border-width: 3px;">Introduccion al tema</h1>
        <br>
        <div class="Motivacion col-md-4" style="border-style: solid; border-width: 5px;">
            Motivacion al tema
        </div>
        <div class="Base_teorica col-md-offset-1 col-md-7" style="border-style: solid; border-width: 5px;">
            Base teorica del tema
        </div>
    </div>
    <br><br><br><br>
    <div class="row Conocimientos_previos">
        <h1 style="text-align: left; border-style: solid; border-width: 3px;">Conocimientos previos</h1>
        <br>
        <div class="Conocimiento_previo1 col-md-5" style="border-style: solid; border-width: 5px;">
            Conocimiento previo 1
        </div>
        <div class="Conocimiento_previo2 col-md-offset-2 col-md-5" style="border-style: solid; border-width: 5px;">
            Conocimiento previo 2
        </div>
    </div>
    <br><br><br><br>
    <div class="row Principio_y_teoría">
        <h1 style="text-align: left; border-style: solid; border-width: 3px;">Principio y teoría</h1>
        <br>
        <div class="Principio_y_teoria col-md-offset-1 col-md-10" style="border-style: solid; border-width: 5px;">
            Principio y teoría, el contenido neto, formulas, explicacion matematica y fundamentación profunda.
        </div>
    </div>
    <br><br><br><br>
    <div class="row Documentacion_adicional">
        <h1 style="text-align: left; border-style: solid; border-width: 3px;">Documentación adicional</h1>
        <br>
        <div class="col-md-4" style="border-style: solid; border-width: 5px;">
            Paper 1
        </div>
        <div class="col-md-4" style="border-style: solid; border-width: 5px;">
            Paper 2
        </div>
        <div class="col-md-4" style="border-style: solid; border-width: 5px;">
            Paper 3
        </div>
    </div>
</div>
</body>

<footer id="main-footer">Copyright © Uneed</footer>


</html>