<!DOCTYPE html>
<html lang="en">

<% include header2.html %>


<body>
<div class="container">
    <div class="row Introduccion">
        <h1 style="text-align: left; border-style: solid; border-width: 3px;">Introduccion al tema</h1>
        <br>
        <div class="Motivacion col-md-4" style="border-style: solid; border-width: 5px;">
            MOTIVACION AL TEMA
        </div>
        <div class="Que_aprenderas_en_el_tema col-md-offset-2 col-md-6" style="border-style: solid; border-width: 5px;">
            Que aprenderas en este tema
        </div>
    </div>
    <br><br><br><br>
    <div class="row Experimentación_y_explicación">
        <h1 style="text-align: left; border-style: solid; border-width: 3px;">Experimentacion y explicación del fenómeno</h1>
        <br>
        <div class="Explicacion1 col-md-4" style="border-style: solid; border-width: 5px;">
            Explicacion del video 1
        </div>
        <div class="Video_experimental1 col-md-offset-1 col-md-7" style="border-style: solid; border-width: 5px;">
            Video 1
        </div>
        <br><br>
        <div class="Explicacion2 col-md-4" style="border-style: solid; border-width: 5px;">
            Explicacion del video 2
        </div>
        <div class="Video_experimental2 col-md-offset-1 col-md-7" style="border-style: solid; border-width: 5px;">
            Video 2
        </div>
        <br><br>
        <div class="Explicacion3 col-md-4" style="border-style: solid; border-width: 5px;">
            Explicacion del video 3
        </div>
        <div class="Video_experimental3 col-md-offset-1 col-md-7" style="border-style: solid; border-width: 5px;">
            Video 3
        </div>
    </div>
    <br><br><br><br>
    <div class="row Formulario">
        <h1 style="text-align: left; border-style: solid; border-width: 3px;">Formulario</h1>
        <br>
        <div class="Formula1 col-md-offset-4 col-md-4" style="border-style: solid; border-width: 5px;">
            Formula 1
        </div>
        <div class="DescripcionVariables1 col-md-5" style="border-style: solid; border-width: 5px;">
            Descripcion variables formula 1
        </div>
        <div class="EjerciciosTipoFormula1 col-md-offset-2 col-md-5" style="border-style: solid; border-width: 5px;">
            EjerciciosTipo que usan formula 1
        </div>
        <br><br><br><br>
        <div class="Formula2 col-md-offset-4 col-md-4" style="border-style: solid; border-width: 5px;">
            Formula 2
        </div>
        <div class="DescripcionVariables2 col-md-5" style="border-style: solid; border-width: 5px;">
            Descripción variables formula 2
        </div>
        <div class="EjerciciosTipoFormula2 col-md-offset-2 col-md-5" style="border-style: solid; border-width: 5px;">
            EjerciciosTipo que usan formula 2
        </div>
        <br><br><br><br>
        <div class="Formula3 col-md-offset-4 col-md-4" style="border-style: solid; border-width: 5px;">
            Formula 3
        </div>
        <div class="DescripciónVariables3 col-md-5" style="border-style: solid; border-width: 5px;">
            Descripcion variables formula 3
        </div>
        <div class="EjerciciosTipoFormula3 col-md-offset-2 col-md-5" style="border-style: solid; border-width: 5px;">
            EjerciciosTipo que usan formula 3
        </div>
    </div>
    <br><br><br><br>
</div>
</body>

<footer id="main-footer">Copyright © Uneed</footer>

</html>