<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Convergente</title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/bootstrap-theme.min.css">

    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/nav_styles.css" type="text/css">
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <script src="js/index.js"></script>
    <script src="js/registro.js"></script>
    <script type="js/bootstrap.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <script type="text/javascript" src="//code.jquery.com/jquery-1.12.0.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.2/angular.js"></script>
    <script src="js/app.js" type="text/javascript"></script> <!-- not created yet -->
</head>
<body>
<div class="container">
    <div class="row Introduccion_practica_tema">
        <h1 style="text-align: left; border-style: solid; border-width: 3px; margin-bottom: 2px;">Introduccion al tema</h1>
        <div class="Motivación col-md-3" style="border-style: solid; border-width: 5px;">
            aca va la motivacion al tema
            aca va la motivacion al tema
            aca va la motivacion al tema
            aca va la motivacion al tema
            aca va la motivacion al tema
            aca va la motivacion al tema
            aca va la motivacion al tema
            aca va la motivacion al tema
        </div>
        <div class="Definicion_conceptos_clave col-md-6" style="border-style: solid; border-width: 5px;">
            aca va la definicion de los conceptos a utilizar
            aca va la definicion de los conceptos a utilizar
            aca va la definicion de los conceptos a utilizar
            aca va la definicion de los conceptos a utilizar
            aca va la definicion de los conceptos a utilizar
            aca va la definicion de los conceptos a utilizar
            aca va la definicion de los conceptos a utilizar
            aca va la definicion de los conceptos a utilizar
            aca va la definicion de los conceptos a utilizar
            aca va la definicion de los conceptos a utilizar
        </div>
        <div class="Experimentos_a_realizar col-md-3" style="border-style: solid; border-width: 5px;">
            aca experimentos que puede realizar en casa
            aca experimentos que puede realizar en casa
            aca experimentos que puede realizar en casa
            aca experimentos que puede realizar en casa
            aca experimentos que puede realizar en casa
            aca experimentos que puede realizar en casa
            aca experimentos que puede realizar en casa


        </div>
    </div>
    <br><br><br><br>
    <div class="row Video_motivacional">
        <h1 style="text-align: left; border-style: solid; border-width: 3px; margin-bottom: 2px;">Video motivacional</h1>
        <div class="col-md-offset-2 col-md-8" style="border-style: solid; border-width: 5px;">
            aca va un video de algun experimento
        </div>
    </div>
    <br><br><br><br>
    <div class="row Desarrollo1_tema">
        <h1 style="text-align: left; border-style: solid; border-width: 3px; margin-bottom: 2px;">Fundamentos del tema</h1>
        <div class="Que_resuelve_el_tema col-md-8" style="border-style: solid; border-width: 5px;">
            Que tipo de problemas se resuelven con el topico
        </div>
        <div class="Datos_necesarios col-md-4" style="border-style: solid; border-width: 5px;">
            Que datos necesito para resolver problemas
        </div>
    </div>
    <br><br><br><br>
    <div class="row Formulario">
        <h1 style="text-align: left; border-style: solid; border-width: 3px; margin-bottom: 2px;">Formulas útiles</h1>
        <div class="Formula_1_con_explicacion col-md-4" style="border-style: solid; border-width: 5px;">
            formula 1
        </div>
        <div class="Formula_2_con_explicacion col-md-4" style="border-style: solid; border-width: 5px;">
            formula 2
        </div>
        <div class="Formula_3_con_explicación col-md-4" style="border-style: solid; border-width: 5px;">
            formula 3
        </div>
    </div>
    <br><br><br><br>
    <div class="row Ejemplos">
        <h1 style="text-align: left; border-style: solid; border-width: 3px; margin-bottom: 2px;">Ejercicios de ejemplo</h1>
        <div class="Ejemplo_1 col-md-5" style="border-style: solid; border-width: 5px;">
            Ejemplo 1
        </div>
        <div class="Solucion_ejemplo_1 col-md-offset-2 col-md-5" style="border-style: solid; border-width: 5px;">
            Solucion ejemplo 1
        </div>
        <br><br>
        <div class="Ejemplo_2 col-md-5" style="border-style: solid; border-width: 5px;">
            Ejemplo 2
        </div>
        <div class="Solución_ejemplo_2 col-md-offset-2 col-md-5" style="border-style: solid; border-width: 5px;">
            Solucion ejemplo 2
        </div>
    </div>
    <br><br><br><br>
</div>
</body>
</html>