<!DOCTYPE html>
<html ng-app="angularjsNodejsTutorial">

<% include header1.html %>

<body ng-app="app" ng-controller="myCtrl">

<form action="/" method="post" enctype="application/x-www-form-urlencoded">

    <div class="container">
        <div class="row">
            <div class="col-md-4 caja_login">

                <div class="wrap" style="align:left">
                    <div class="avatar">
                        <img src="images/student.jpg">
                    </div>
                    <input type="text" placeholder="Username" name="username" required>

                    <input type="password" placeholder="Password" name="password" required>
                    <a href="forgot" class="forgot_link">forgot ?</a>

                    <button type="submit">Submit</button>
                </div>
                <br><br><br><br>
                <div align="center">
                    <p>No tienes cuenta? Registrate!</p>
                    <a style="color: black" href="/registro">Registrarme</a>
                    <p>¿Eres profesor y deseas colaborar?</p>
                    <a style="color: black" href="/registro_profe">Registrarme como Profesor</a>
                </div>
            </div>

            <div class="col-md-8">
                <h1 class="bienvenido">Kolb Learning</h1>
                <img class="foto" src="images/usm_cc.jpg" height="400px" width="800px">

            </div>
        </div>
    </div>
</form>

<script src="js/index.js"></script>

</body>


<footer id="main-footer">Copyright © Uneed</footer>

</html>