<!DOCTYPE html>
<html lang="en" ng-app>

<% include header1.html %>

<body>

<form action="/registro_profe" class="form-horizontal" ng-app="reg" ng-controller="regctrl" method="post" enctype="application/x-www-form-urlencoded">
    <fieldset>

        <div>
            <!-- Form Name -->
            <h1 align="center">Registro Profesor</h1>

            <br>
            <br>
            <!-- Text input-->
            <div class="form-group">
                <label class="col-md-4 control-label" for="Nombre">Nombre</label>
                <div class="col-md-4">
                    <input id="Nombre" name="Nombre" placeholder="Nombre" class="form-control input-md" required="" type="text" ng-model="user.name">

                </div>
            </div>

            <!-- Text input-->
            <div class="form-group">
                <label class="col-md-4 control-label" for="Appat">Apellido paterno</label>
                <div class="col-md-4">
                    <input id="Appat" name="Appat" placeholder="Apellido paterno" class="form-control input-md" required="" type="text" ng-model="user.appat">

                </div>
            </div>

            <!-- Text input-->
            <div class="form-group">
                <label class="col-md-4 control-label" for="Apmat">Apellido materno</label>
                <div class="col-md-4">
                    <input id="Apmat" name="Apmat" placeholder="Apellido materno" class="form-control input-md" required="" type="text" ng-model="user.apmat">

                </div>
            </div>

            <!-- Text input-->
            <div class="form-group">
                <label class="col-md-4 control-label" for="rut">Rut</label>
                <div class="col-md-4">
                    <input id="rut" name="rut" placeholder="12.345.678-9" class="form-control input-md" required="" type="text" ng-model="user.rutuser">
                    <span class="help-block">Formato rut: 12.345.678-9</span>
                </div>
            </div>

            <!-- Text input-->
            <div class="form-group">
                <label class="col-md-4 control-label" for="correo">Correo electrónico</label>
                <div class="col-md-4">
                    <input id="correo" name="correo" placeholder="mail@host.com" class="form-control input-md" required="" type="email" ng-model="user.correouser">
                    <span class="help-block">Sus datos de registro se enviarán al correo electrónico.</span>

                </div>
            </div>

            <!-- Text input-->
            <div class="form-group">
                <label class="col-md-4 control-label" for="fechnac">Fecha nacimiento</label>
                <div class="col-md-4">
                    <input id="fechnac" name="fechnac" placeholder="AAAA-MM-DD" class="form-control input-md" required="" type="date" ng-model="user.fechnacuser">
                    <span class="help-block">Formato: AAAA-MM-DD (año-mes-dia)</span>
                </div>
            </div>

            <!-- Password input-->
            <div class="form-group">
                <label class="col-md-4 control-label" for="password">Contraseña</label>
                <div class="col-md-4">
                    <input id="password" name="password" placeholder="" class="form-control input-md" required="" type="password" ng-model="user.pass">
                </div>
            </div>

            <!-- Button (Double) -->
            <div class="form-group">
                <label class="col-md-4 control-label" for="registrar"></label>
                <div class="col-md-8">
                    <button id="registrar" name="registrar" class="btn btn-success" type="submit">Registrar</button>
                </div>
            </div>

        </div>

    </fieldset>
</form>





</body>

<footer id="main-footer" class="row-md-1">Copyright © Uneed</footer>

</html>