@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: local('Lato Regular'), local('Lato-Regular'), url(http://themes.googleusercontent.com/static/fonts/lato/v7/qIIYRU-oROkIk8vfvxw6QvesZW2xOQ-xsNqO47m55DA.woff) format('woff');
}

@font-face {
	font-family: 'Comic_Serif_Pro';
	src: url('../fonts/HVD_Comic_Serif_Pro.otf'); /* IE9 Compat Modes */
}


body {
	background: #A4D5E8 ;
	font-family: "Lato" ;
	margin-top: 130px;
}
.wrap {
	width:250px;
	height: auto;
	margin: auto;
	margin-top: 10%;
}
.avatar {
	width: 100%;
	margin: auto;
	width: 75px;
	border-radius: 100px;
	height: 85px;
	background: #448ed3 ;
	position: relative;
	bottom: -15px;
}
.avatar img {
	width: 75px;
	height: 75px;
	border-radius: 150px;
	margin: auto;
	border:3px solid #fff;
	display: block;
}

.avatar_home {

	width: 150px;
	height: 150px;
	margin-top: 40px;
	border-radius: 100px;
	background: #448ed3 ;
	position: relative;
	bottom: -15px;
	align-content: center;
}

.wrap input {
	border: none;
	background: #fff;
  font-family:Lato ;
  font-weight:700 ;
	display: block;
	height: 40px;
	outline: none;
	width: calc(100% - 24px) ;
	margin: auto;
	padding: 6px 12px 6px 12px;
}
.bar {
	width: 100%;
	height: 1px;
	background: #fff ;
}
.bar i {
	width: 95%;
	margin: auto;
	height: 1px ;
	display: block;
	background: #d1d1d1;
}
.wrap input[type="text"] {
	border-radius: 7px 7px 0px 0px ;
}
.wrap input[type="password"] {
	border-radius: 0px 0px 7px 7px ;
}
.forgot_link {
	color: #83afdf ;
	color: #83afdf;
	text-decoration: none;
	font-size: 11px;
	position: relative;
	left: 193px;
	top: -36px;
}
.wrap button {
	width: 100%;
	border-radius: 7px;
	background: #FFFF8D;
	text-decoration: center;
	border: none;
	color: #51771a;
  margin-top:-5px;
	padding-top: 14px;
	padding-bottom: 14px;
	outline: none;
	font-size: 13px;	
	border-bottom: 3px solid #307d63;
	cursor: pointer;
}

.caja_login {
	background-color: #149BCF;
	margin-bottom: 50px;
	height: 500px;
	border-radius: 7px 7px 7px 7px ;
}

.bienvenido {
	font-family: 'Comic_Serif_Pro';
	font-size: 98px;
	color: black;
	text-align: center;
}

.foto {
    border-radius: 7px 7px 7px 7px ;
}


.sign_in {
	width: 200px;
	border-radius: 7px;
	background: #FFFF8D;
	text-decoration: center;
	border: none;
	color: #51771a;
	margin-top:-5px;
	padding-top: 15px;
	padding-bottom: 14px;
	padding-left: 30px;
	padding-right: 30px;
	alignment: center;
	outline: none;
	font-size: 13px;
	border-bottom: 3px solid #307d63;
	cursor: pointer;
}

.boton {
	background-color: #4CAF50; /* Green */
	border: none;
	color: white;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	cursor: pointer;
}

.boton_blue {background-color: #008CBA;} /* Blue */
.boton_red {background-color: #f44336;} /* Red */
.boton_gray {background-color: #e7e7e7; color: black;} /* Gray */
.boton_black {background-color: #555555;} /* Black */

h1 {
	font-family: Serif;
	font-size: 58px;
	color: black;
	text-align: center;
}

.texto {
	font-family: 'Comic_Serif_Pro';
	font-size: 20px;
	color: black;
	text-align: center;
}

.div_content {
	background-color: #D3EEF8;
	min-height: 600px;
	width: 1000px;

	border-radius: 17px 17px 17px 17px;
	-moz-border-radius: 17px 17px 17px 17px;
	-webkit-border-radius: 17px 17px 17px 17px;
}

.div_content_ramos {
	background-color: #D3EEF8;
	margin-bottom: 40px;
	min-height: 600px;
	width: 1000px;

	border-radius: 17px 17px 17px 17px;
	-moz-border-radius: 17px 17px 17px 17px;
	-webkit-border-radius: 17px 17px 17px 17px;
}

.div_content_perfil {
	background-color: #D3EEF8;
	height: 600px;
	width: 300px;

	border-radius: 17px 17px 17px 17px;
	-moz-border-radius: 17px 17px 17px 17px;
	-webkit-border-radius: 17px 17px 17px 17px;
}

.caja_perfil_home{
	margin-top: 70px;
	font-family: 'Comic_Serif_Pro';
}

.titulo_curso{
	font-family: 'Comic_Serif_Pro';
	font-size: 58px;
	color: black;
	text-align: left;
	margin-top: 40px;
	margin-left: 20px;
}

.sub_titulo{
	font-family: 'Comic_Serif_Pro';
	font-size: 38px;
	color: black;
}

.imagen{
	position: relative;
	width: 100%;
}

.imagen_ramo{

	border-radius: 17px 17px 17px 17px;
	-moz-border-radius: 17px 17px 17px 17px;
	-webkit-border-radius: 17px 17px 17px 17px;
}

.texto_image_ramo{
	position: absolute;
	top: 135px;
	left: 0;
	width: 450px;

	color: white;
	font: bold 24px/45px Helvetica, Sans-Serif;
	letter-spacing: -1px;
	background: rgb(0, 0, 0); /* fallback color */
	background: rgba(0, 0, 0, 0.7);
	padding: 10px;

	border-radius: 17px 17px 17px 17px;
	-moz-border-radius: 17px 17px 17px 17px;
	-webkit-border-radius: 17px 17px 17px 17px;

}





